.range-slider {
  -webkit-appearance: none; /* Remove default appearance */
  width: 100%;
  height: 4px; /* Height of the slider track */
  border-radius: 5px; /* Round the edges of the track */
  outline: none; /* Remove outline */
  opacity: 1; /* Fully opaque */
  transition: background 0.2s; /* Smooth transition */
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb */
  appearance: none; /* Remove default thumb */
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  border-radius: 50%; /* Round thumb */
  background: #fff; /* Thumb color */
  border: 2px solid #b5843f; /* Border color of the thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

.range-slider::-moz-range-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  border-radius: 50%; /* Round thumb */
  background: #fff; /* Thumb color */
  border: 2px solid #b5843f; /* Border color of the thumb */
}
