/* Move @import to the top */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declaration */
@font-face {
  font-family: "Bostonfont";
  src: url("./assets/Fonts/boston-cufonfonts-webfont/BostonRegular.woff");
}

/* Bostonfont class */
.Bostonfont {
  font-family: "Bostonfont", sans-serif;
}

/* Poppins font class */
.fontpoppins {
  font-family: "Poppins", sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}





